/* Services.css */

.services-page {
  font-family: "Segoe UI", sans-serif;
  background-color: rgba(0, 0, 0, 0.69);
}

.services-hero {
  background: url("../../assets/image1.webp") no-repeat center center/cover;
  min-height: 100vh;
}

.hero-overlay {
  background-color: rgba(0, 6, 41, 0.67);
  color: white;
  padding: 40px;
  text-align: center;
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-overlay h1 {
  font-size: 2.8rem;
  margin-bottom: 20px;
}

.hero-overlay p {
  font-size: 1.2rem;
  opacity: 0.9;
  max-width: 800px;
  width: 100%;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 60px 20px;
  height: 100vh;
}

.service-card {
  flex: 1 1 300px;
  border: 1px solid ghostwhite;
  border-radius: 12px;
  padding: 12px 30px;
  text-align: left;
  transition: transform 0.3s ease;
  min-height: 450px;
}
#service-card1 {
  background-color: rgb(16, 49, 65);
}
#service-card2 {
  background-color: rgb(130, 126, 1);
}
#service-card3 {
  background-color: #7a4100;
}

.service-card:hover {
  transform: translateY(-8px);
}

.service-icon {
  font-size: 4rem;
  margin-bottom: 15px;
  padding: 8px;
  border-radius: 100%;
  width: 60px;
  height: 60px;
}

.service-card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #0000fe;
}

.service-card p {
  font-size: 1.2rem;
  margin-bottom: 10px;
  opacity: 0.9;
  color: white;
}

.service-link {
  font-size: 1.2rem;
  display: inline-block;
  margin-top: 10px;
  color: #1e40af;
  font-weight: bold;
  text-decoration: none;
}

.service-link:hover {
  text-decoration: underline;
  color: #00b3ff;
}

.services-cta {
  background: url("../../assets/project1.webp") no-repeat center center/cover;
  color: white;
  text-align: center;
  margin-top: 40px;
  border-radius: 12px;
  height: 100vh;
}

.services-cta .services-cta-div {
  background-color: #031654a8;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
  padding: 50px 20px;
}

.services-cta h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.services-cta p {
  font-size: 1.2rem;
  max-width: 600px;
  margin: 0 auto 20px;
  opacity: 0.95;
}

.cta-button {
  background-color: white;
  color: #1e40af;
  padding: 12px 24px;
  border-radius: 6px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #133985;
  color: white;
}

@media (max-width: 768px) {
  .services-list {
    flex-direction: column;
    height: auto;
  }

  .hero-overlay h1 {
    font-size: 2rem;
  }

  .service-card {
    min-height: 500px;
    padding: 8px;
  }
}
