/* Services.css */

.services-page {
  font-family: "Segoe UI", sans-serif;
}

.services-hero {
  background: url("../../assets/image1.webp") no-repeat center center/cover;
  min-height: 100vh;
}

.hero-overlay {
  /* background-color: var(--color-primary-dark);
  opacity: 0.1; */
  color: white;
  padding: 40px;
  text-align: center;
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-overlay h1 {
  color: var(--color-secondary);
  font-size: 2.8rem;
  margin-bottom: 20px;
}

.hero-overlay p {
  color: var(--color-black);
  font-size: 1.2rem;
  opacity: 0.9;
  max-width: 800px;
  width: 100%;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 60px 20px;
  height: 100%;
}

.services-card {
  /* flex: 1 1 300px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 400px;
  padding: 12px 30px;
  text-align: left;
  transition: transform 0.3s ease;
  min-height: 450px;
  /* border: solid; */
}

hr {
  color: var(--color-black);
  border: 0.1rem solid;
  opacity: 0.4;
  width: 100%;
  margin-top: 10%;
}

.services-card h3 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #0000fe;
}

.services-card p {
  font-size: 1.2rem;
  margin-bottom: 10px;
  opacity: 0.9;
  color: var(--color-black);
}

.services-link {
  font-size: 1rem;
  display: inline-block;
  margin-top: 10px;
  color: var(--color-secondary);
  font-weight: bold;
  text-decoration: none;
  transition: 0.5s;
}

.services-link:hover {
  transition: 0.5s;
  text-decoration: underline;
  color: var(--color-secondary-light);
}

.services-cta {
  background: url("../../assets/project1.webp") no-repeat center center/cover;
  color: white;
  text-align: center;
  margin-top: 40px;
  border-radius: 12px;
  height: 100vh;
}

.services-cta .services-cta-div {
  background-color: #031654a8;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
  padding: 50px 20px;
}

.services-cta h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.services-cta p {
  font-size: 1.2rem;
  max-width: 600px;
  margin: 0 auto 20px;
  opacity: 0.95;
}


@media (max-width: 768px) {
  .services-list {
    flex-direction: column;
    height: auto;
  }

  .hero-overlay h1 {
    font-size: 2rem;
  }

  .services-card {
    min-height: 500px;
    padding: 8px;
  }
}
